@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --cont: 1400px;
}

.container {
  max-width: var(--cont);
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    margin: 15px 0;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 30px;

    li {
      font-size: 20px;
      list-style: none;
    }
  }

  a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid rgb(126, 126, 126);
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;

    &:hover {
      color: rgb(15, 199, 45);
      border-color: rgb(15, 199, 45);
    }
  }
}

main {
  margin-top: 70px;

  h2 {
    font-size: 30px;
    font-weight: 500;
  }

  .search {
    margin-top: 20px;
    max-width: calc(var(--cont) - 25px);
    width: 80%;
    min-width: 300px;
    padding: 6px 0 6px 10px;
    border-radius: 15px;
    border: 1px solid #cdcdcd;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 33px auto;

    .card {
      border: 1px solid #cdcdcd;
      border-radius: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: calc(16.66% - 13px);
      min-width: 216px;
      height: 120px;
      padding: 20px 0;
      transition: box-shadow 0.2s;
      -webkit-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      -ms-transition: box-shadow 0.2s;
      -o-transition: box-shadow 0.2s;
      margin: 5px;
      // &:not(:nth-child(6n + 6)) {
      // 	margin-right: 33px;
      // }
      &:hover {
        box-shadow: 0 0 20px rgba(199, 199, 199, 0.507);
      }

      .card__tittle {
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-align: center;
        margin-bottom: 15px;
        line-height: 20px;
        width: 180px;
      }

      .change-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        gap: 3px;

        .inc {
          color: rgb(15, 199, 45);
        }

        .red {
          color: rgb(204, 39, 27);
        }

        .separate {
          width: 100%;
          height: 1px;
          background: #cdcdcd;
          margin: 5px 0;
        }

        .to {
          font-weight: 500;
        }
      }
    }
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 1450px) {
  :root {
    --cont: 1000px;
  }
}